{
    #
    # Crews are simply named lists of users:
    #
    #   "the_crew_name":  ["list", "of", "user", "names"],
    #
    # In addition to any site-defined crews, there are four "reserved"
    # crews names used for special purposes by Tractor:
    #   "ValidLogins",  "BannedLogins",  "Wranglers",  "Administrators"
    #
    # The ValidLogins crew enumerates all user's who are allowed to
    # login to Tractor.  This crew MUST exist.  See the note regarding
    # about the meta-names "@syslogins" and "@externlogins" below.
    #
    # The BannedLogins crew lists user names that are explicitly denied
    # login.  It is mostly only useful for providing exceptions when
    # ValidLogins contains either of the meta-names "@syslogins" or
    # "@externlogins".
    #
    #
    # Special Meta-Names: "@syslogins" and "@externlogins"
    #
    # The user name list for a given crew can include either of these
    # special names.  "@syslogins" stands for all user login names
    # that are valid locally on the engine host (i.e. resolvable by
    # the function getpwnam(3)), which frequently includes those
    # resolvable by the site nameservers, such as LDAP or NIS.
    # For example:
    #    "ValidLogins": ["@syslogins"],
    #
    # The name "@externlogins" causes the engine to skip its internal
    # validation of a potential Dashboard user names, and instead the
    # engine passes all login names directly to the site's external
    # trSiteLoginValidator.py script (or whichever validation app is
    # named as the "SitePasswordValidator" below). The external validator
    # can accept or deny a given name+password pair. For example:
    #    "ValidLogins": ["@externlogins"],
    #
    # Note that wildcard characters in user names (e.g. "*") are NOT
    # expanded or treated specially when searching for user access.
    # However, the list of user names can also contain OTHER CREW
    # names, which will be expanded recursively to include the users
    # in those crews.  Crew name references that form "reference loops"
    # will be truncated, but may cause unexpected memberships.
    #
    # Any user name in a crew's membership list whose first character
    # is a minus-sign will be removed from that crew definition,
    # similarly for sub-crew names.  For example:
    #  "ourRestrictedCrew": ["ourBigCrew", "-knownMiscreants"],
    #
    # Crews that are referenced in name lists can be denoted with
    # a leading "$" in order to make them clearly distinguished as
    # crew names rather than user names.  This approach also allows
    # tractor-engine to issue better diagnostic messages when a
    # referenced crew is unknown -- otherwise than name is just
    # treated as another user name.  For example:
    #   "theLuncheon": ["terry", "vandana", "$theGuysFromShipping"],
    #
    # A particular user name may appear in more than one crew.
    #

######################################################
"Crews": {

"Staff":[
"dataarena", # dataarena dataarena staff
],

"Admin":[
"120988"   # Staff    matthewgidney           Matt Gidney             matthew.gidney@uts.edu.au
"118523"   # Staff    simonharris             Simon Harris            simon.harris@uts.edu.au
],

"DAB_Students":[
"10830368"   # Year4    paularhodes             Paul Rhodes             Paul.A.Rhodes@student.uts.edu.au
"11396684"   # Year4    steffiesyee             Steffie Yee             Steffie.S.Yee@student.uts.edu.au
"11401229"   # Year4    haeinfkim               Hae-In Kim              Hae-In.F.Kim@student.uts.edu.au
"11413984"   # Year4    kerlgalindo             Kerl Galindo            Kerl.Galindo@student.uts.edu.au
"11558549"   # Year4    zhanyehuang1            Zhanye Huang            Zhanye.Huang-1@student.uts.edu.au
"11684026"   # Year4    kylieysun               Kylie Sun               Kylie.Y.Sun@student.uts.edu.au
"11688621"   # Year4    stephanieadavidson      Stephanie Davidson      Stephanie.A.Davidson@student.uts.edu.au
"11693660"   # Year3    elladsanderson          Ella Sanderson          Ella.D.Sanderson@student.uts.edu.au
"11699372"   # Year3    joylenevosorio          Joylene Osorio          Joylene.V.Osorio@student.uts.edu.au
"11699865"   # Year4    albertjeung             Tae Jun Jeung           Albert.Jeung@student.uts.edu.au
"11741966"   # Year4    yinxia                  Yi Ning Xia             Yi.N.Xia@student.uts.edu.au
"11848557"   # Year3    georgetteestefoulis     Georgette Stefoulis     Georgette.E.Stefoulis@student.uts.edu.au
"11900065"   # Year4    yangleiwu1              Yanglei Wu              Yanglei.Wu-1@student.uts.edu.au
"11979364"   # Year4    jasmineckwan            Jasmine Kwan            Jasmine.C.Kwan@student.uts.edu.au
"11980543"   # Year4    ryleyjmiller            Ryley Miller            Ryley.J.Miller@student.uts.edu.au
"11988348"   # Year4    nathankhamdara          Nathan Khamdara         Nathan.Khamdara@student.uts.edu.au
"11989492"   # Year4    jacktea                 Jack Tea                Jack.Tea@student.uts.edu.au
"11993502"   # Year4    jessicazhuang           Jessica Zhuang          Jessica.Zhuang@student.uts.edu.au
"11995444"   # Year4    ianlade                 Ian Lade                Ian.Lade@student.uts.edu.au
"11996749"   # Year4    dianaluu                Diana Luu               Diana.Luu@student.uts.edu.au
"11998301"   # Year4    nicholaslciantar        Nicholas Ciantar        Nicholas.L.Ciantar@student.uts.edu.au
"11999176"   # Year4    isabellafspagnolo       Isabella Spagnolo       Isabella.F.Spagnolo@student.uts.edu.au
"12003620"   # Year4    karenpan                Karen Pan               Karen.Pan@student.uts.edu.au
"12007629"   # Year4    giselenour              Gisele Nour             Gisele.Nour@student.uts.edu.au
"12011654"   # Year4    susannawang             Susanna Wang            Susanna.Wang@student.uts.edu.au
"12014318"   # Year4    himadrisbhakta          Himadri Bhakta          Himadri.S.Bhakta@student.uts.edu.au
"12028837"   # Year4    woojinjennyjlee         Jenny Lee               WooJinJenny.J.Lee@student.uts.edu.au
"12044158"   # Year4    jenniferquach           Jennifer Quach          Jennifer.Quach@student.uts.edu.au
"12071472"   # Year4    valeriaversace1         Valeria Versace         Valeria.Versace-1@student.uts.edu.au
"116885"   # Staff    simonvonwolkenstein     Simon von Wolkenstein   simon.vonwolkenstein@uts.edu.au
"117481"   # Staff    mauricegiacomini        Maurice Giacomini       Maurice.Giacomini@uts.edu.au
"124934"   # Staff    jackmcgrath             Jack McGrath            Jack.McGrath@uts.edu.au
"12043891"   # Year4    craiglcampbell          Craig Campbell          Craig.L.Campbell@student.uts.edu.au
"11980493"   # Year2    lesterchan              Lester Chan             Lester.Chan@student.uts.edu.au
"11981925"   # Year2    nasyadjaja              Nasya Djaja             Nasya.Djaja@student.uts.edu.au
"98134428"   # Year3    kimberleygriffin        Kimberley Griffin       Kimberley.Griffin@student.uts.edu.au
"98129846"   # Year2    trucqhuynh              Truc Quynh Huynh        Truc.Q.Huynh@student.uts.edu.au
"98040140"   # Year2    thomasmcdonell          Thomas McDonell         Thomas.McDonell@student.uts.edu.au
"12044552"   # Year2    ngochiencnguyen         Ngoc Hien Nguyen        NgocHien.C.Nguyen@student.uts.edu.au
"98129671"   # Year3    sandyxinwilliams        Sandy Xin-Williams      Sandy.Xin-Williams@student.uts.edu.au
"98129808"   # Year3    sophiebooth             Sophie Booth            Sophie.Booth@student.uts.edu.au
"99124859"   # Year3    ellikbyrne              Elli Byrne              Elli.K.Byrne@student.uts.edu.au
"98138288"   # Year3    katrinacalingo1         Katrina Calingo         Katrina.Calingo-1@student.uts.edu.au
"98126939"   # Year3    jacobchantarat          Jacob Chantarat         Jacob.Chantarat@student.uts.edu.au
"99127134"   # Year3    taylacolley             Tayla Colley            Tayla.Colley@student.uts.edu.au
"99128581"   # Year3    francoesquerrepinto1    Franco Esquerre Pinto   Franco.EsquerrePinto-1@student.uts.edu.au
"99139762"   # Year3    denisehlam              Denise Lam              Denise.H.Lam@student.uts.edu.au
"98034111"   # Year3    sydneyliao              Sydney Liao             Sydney.Liao@student.uts.edu.au
"99126892"   # Year3    yanlin6                 Yan Lin                 Yan.Lin-6@student.uts.edu.au
"99128617"   # Year3    jenniferlucero          Jennifer Lucero         Jennifer.Lucero@student.uts.edu.au
"98136435"   # Year3    charlottermccarthy      Charlotte McCarthy      Charlotte.R.McCarthy@student.uts.edu.au
"11221278"   # Year3    oscarrnimmo             Oscar Nimmo             Oscar.R.Nimmo@student.uts.edu.au
"98131131"   # Year3    luanelqin               Luane Qin               Luane.L.Qin@student.uts.edu.au
"99129583"   # Year3    shaunsun                Shaun Sun               Shaun.Sun@student.uts.edu.au
"11543612"   # Year3    yisun6                  Yi Sun                  Yi.Sun-6@student.uts.edu.au
"98031711"   # Year3    weeptan                 Wee Peng Tan            Wee.P.Tan@student.uts.edu.au
"98126954"   # Year3    samuelbennettlowe       Samuel Bennett-Lowe     Samuel.Bennett-Lowe@student.uts.edu.au
"99117653"   # Year3    lorandgolebiowski1      Lorand Golebiowski      Lorand.Golebiowski-1@student.uts.edu.au
"98133628"   # Year3    rosamundmhooper         Rosamund Hooper         Rosamund.M.Hooper@student.uts.edu.au
"98080359"   # Year3    erikarju                Erika Ju                Erika.R.Ju@student.uts.edu.au
"99112753"   # Year3    kazukikomatsu           Kazuki Komatsu          Kazuki.Komatsu@student.uts.edu.au
"11910736"   # Year3    shuangliang2            Shuang Liang            Shuang.Liang-2@student.uts.edu.au
"11673795"   # Year3    yanlingliu1             Yanling Liu             Yanling.Liu-1@student.uts.edu.au
"99128302"   # Year3    daniellerlylestirling   Danielle Lyle-Stirling  Danielle.R.Lyle-Stirling@student.uts.edu.au
"12110019"   # Year3    yorienarpati            Yori Narpati            Yori.E.Narpati@student.uts.edu.au
"11906916"   # Year3    hoangtnguyen4           Hoang Thy Nguyen        Hoang.T.Nguyen-4@student.uts.edu.au
"98134240"   # Year3    brycepemberton          Bryce Pemberton         Bryce.Pemberton@student.uts.edu.au
"99131993"   # Year3    josephredding           Joseph Redding          Joseph.Redding@student.uts.edu.au
"98138136"   # Year3    joshuaso                Joshua So               Joshua.So@student.uts.edu.au
"99115608"   # Year3    quynhttruong            Quynh Tu Truong         Quynh.T.Truong@student.uts.edu.au
"99126649"   # Year3    kylebrenchvillarama     Kylebrench Villarama    Kylebrench.Villarama@student.uts.edu.au
"11613508"   # Year3    xinyuzhang5             Xinyu Zhang             Xinyu.Zhang-5@student.uts.edu.au
"11660836"   # Year3    yihanzhang1             Yihan Zhang             Yihan.Zhang-1@student.uts.edu.au
"98113335"   # Year3    vivianzhao              Vivian Zhao             Vivian.Zhao@student.uts.edu.au
"98037284"   # Year3    sophiambarkermoore      Sophia Barker Moore     Sophia.M.BarkerMoore@student.uts.edu.au
"99131500"   # Year3    rhysblinco              Rhys Blinco             Rhys.Blinco@student.uts.edu.au
"98034349"   # Year3    tomfcampbell            Tom Campbell            Tom.F.Campbell@student.uts.edu.au
"99143620"   # Year3    ryantdrewett            Ryan Drewett            Ryan.T.Drewett@student.uts.edu.au
"98130127"   # Year3    jacksonahall            Jackson Hall            Jackson.A.Hall@student.uts.edu.au
"99104224"   # Year3    xiaohuanhe              Xiao Hua He             XiaoHua.N.He@student.uts.edu.au
"11993185"   # Year3    evangelinemhilliar      Evangeline Hilliar      Evangeline.M.Hilliar@student.uts.edu.au
"98073582"   # Year3    tahirahusain            Tahira Husain           Tahira.Husain@student.uts.edu.au
"99126031"   # Year3    shannonrkovats          Shannon Kovats          Shannon.R.Kovats@student.uts.edu.au
"99141855"   # Year3    jasmineclee             Jasmine Lee             Jasmine.C.Lee@student.uts.edu.au
"97103485"   # Year3    sunjlee1                Sun Jae Lee             Sun.J.Lee-1@student.uts.edu.au
"99142097"   # Year3    catherinemcclean        Catie McClean           Catherine.McClean@student.uts.edu.au
"99132944"   # Year3    joshuamckay             Joshua McKay            Joshua.McKay@student.uts.edu.au
"12003772"   # Year3    ellevnguyen             Elle Nguyen             Elle.V.Nguyen@student.uts.edu.au
"98102597"   # Year3    tahliajpearce           Tahlia Pearce           Tahlia.J.Pearce@student.uts.edu.au
"12130403"   # Year3    joshuaztan              Joshua Tan              Joshua.Z.Tan@student.uts.edu.au
"12204816"   # Year3    haoyang5                Hao Yang                Hao.Yang-5@student.uts.edu.au
"11982840"   # Year3    jodieaustin             Jodie Austin            Jodie.Austin@student.uts.edu.au
"12475568"   # Year2    tumenerdenealtangadas   Tumen-Erdene Altangadas Tumen-Erdene.Altangadas@student.uts.edu.au
"12579506"   # Year2    jacynthcangeles         Jacynth Angeles         Jacynth.C.Angeles@student.uts.edu.au
"99183079"   # Year2    anantaravilaazmi        Ananta Avilaazmi        Ananta.R.Avilaazmi@student.uts.edu.au
"12588036"   # Year2    imanayoubi              Iman Ayoubi             Iman.Ayoubi@student.uts.edu.au
"12598607"   # Year2    thomaswbarclay          Thomas Barclay          Thomas.W.Barclay@student.uts.edu.au
"12552966"   # Year2    alexandrabarnard        Alexandra Barnard       Alexandra.Barnard@student.uts.edu.au
"98126360"   # Year2    elleanorbenjamin        Elleanor Benjamin       Elleanor.Benjamin@student.uts.edu.au
"12607610"   # Year2    hyamcacerez             Hyam Cacerez            Hyam.Cacerez@student.uts.edu.au
"98125267"   # Year2    pierceccarlson          Pierce Carlson          Pierce.C.Carlson@student.uts.edu.au
"12174571"   # Year2    dongyaochai1            Dongyao Chai            Dongyao.Chai-1@student.uts.edu.au
"12107153"   # Year2    mankitchan1             Man Kit Chan            ManKit.Chan-1@student.uts.edu.au
"12484352"   # Year2    munyiimchan             Mun Yii Chan            MunYii.M.Chan@student.uts.edu.au
"11838822"   # Year2    xiaojunchen1            Xiaojun Chen            Xiaojun.Chen-1@student.uts.edu.au
"12615427"   # Year2    yiwchen                 Yi Chen                 Yi.W.Chen@student.uts.edu.au
"11926464"   # Year2    sirancheng1             Siran Cheng             Siran.Cheng-1@student.uts.edu.au
"12615771"   # Year2    terenceccheng1          Terence Cheng           Terence.C.Cheng-1@student.uts.edu.au
"98070360"   # Year2    joshuacitraloren        Joshua Citraloren       Joshua.Citraloren@student.uts.edu.au
"12598862"   # Year2    gerardcoloma            Gerard Coloma           Gerard.Coloma@student.uts.edu.au
"12596730"   # Year2    brittanyrconstable      Brittany Constable      Brittany.R.Constable@student.uts.edu.au
"12552838"   # Year2    maxinefcurva            Maxine Curva            Maxine.F.Curva@student.uts.edu.au
"12595373"   # Year2    namndang                Nam Dang                Nam.N.Dang@student.uts.edu.au
"12189167"   # Year2    xinyudeng2              Xinyu Deng              Xinyu.Deng-2@student.uts.edu.au
"12557827"   # Year2    jessiedu                Jessie Du               Jessie.Du@student.uts.edu.au
"12002349"   # Year2    emilykdykstra           Emily Dykstra           Emily.K.Dykstra@student.uts.edu.au
"12583480"   # Year2    jessicaedge             Jessica Edge            Jessica.Edge@student.uts.edu.au
"12601833"   # Year2    alexjfairhurst          Alex Fairhurst          Alex.J.Fairhurst@student.uts.edu.au
"12182541"   # Year2    unkeifong1              Un Kei Fong             UnKei.Fong-1@student.uts.edu.au
"12585941"   # Year2    emmafouche              Emma Fouche             Emma.Fouche@student.uts.edu.au
"12575332"   # Year2    francinefurnell         Francine Furnell        Francine.Furnell@student.uts.edu.au
"12605147"   # Year2    deborahale              Debora Hale             Debora.Hale@student.uts.edu.au
"12604296"   # Year2    lucyaharcus             Lucy Harcus             Lucy.A.Harcus@student.uts.edu.au
"98092188"   # Year2    sarahirner              Sara Hirner             Sara.Hirner@student.uts.edu.au
"12590550"   # Year2    sonthoang               Son Hoang               Son.T.Hoang@student.uts.edu.au
"12598165"   # Year2    hollyhuynh              Holly Huynh             Holly.Huynh@student.uts.edu.au
"11839851"   # Year2    xinyuejia1              Xinyue Jia              Xinyue.Jia-1@student.uts.edu.au
"12559326"   # Year2    aleciajohn              Alecia John             Alecia.John@student.uts.edu.au
"12579645"   # Year2    jenniferkatipunan       Jennifer Katipunan      Jennifer.Katipunan@student.uts.edu.au
"12604258"   # Year2    ryangheekim             Ryanghee Kim            Ryanghee.Kim@student.uts.edu.au
"12602241"   # Year2    maxakubuj               Max Kubuj               Max.A.Kubuj@student.uts.edu.au
"98102864"   # Year2    elenavle                Elena Le                Elena.V.Le@student.uts.edu.au
"12569861"   # Year2    jazmineflee             Jazmine Lee             Jazmine.F.Lee@student.uts.edu.au
"12583151"   # Year2    ganzhixinnli            Ganzhixin Li            Ganzhixin.N.Li@student.uts.edu.au
"12602633"   # Year2    lokkli                  Lok Li                  Lok.K.Li@student.uts.edu.au
"12611315"   # Year2    ericlieu1               Eric Lieu               Eric.Lieu-1@student.uts.edu.au
"12599419"   # Year2    danniluo                Danni Luo               Danni.Luo@student.uts.edu.au
"12580686"   # Year2    monhmly                 Monh Ly                 Monh.M.Ly@student.uts.edu.au
"11881695"   # Year2    zhihengmai1             Zhiheng Mai             Zhiheng.Mai-1@student.uts.edu.au
"12550253"   # Year2    annabellemoreton        Annabelle Moreton       Annabelle.Moreton@student.uts.edu.au
"98042120"   # Year2    lawrencenatanauan       Lawrence Natanauan      Lawrence.Natanauan@student.uts.edu.au
"12612949"   # Year2    vincentngo              Vincent Ngo             Vincent.Ngo@student.uts.edu.au
"12613586"   # Year2    briannguyen2            Brian Nguyen            Brian.Nguyen-2@student.uts.edu.au
"12613612"   # Year2    stevennguyen            Steven Nguyen           Steven.Nguyen@student.uts.edu.au
"12560203"   # Year2    jaidenroliver           Jaiden Oliver           Jaiden.R.Oliver@student.uts.edu.au
"12562928"   # Year2    catherinepagett         Catherine Pagett        Catherine.Pagett@student.uts.edu.au
"98111166"   # Year2    matthewgpainter         Matthew Painter         Matthew.G.Painter@student.uts.edu.au
"12600159"   # Year2    bryanpan1               Bryan Pan               Bryan.Pan-1@student.uts.edu.au
"87193233"   # Year2    darrelljpannowitz       Sarah Pannowitz         Darrell.J.Pannowitz@student.uts.edu.au
"12117420"   # Year2    animeshpatel            Animesh Patel           Animesh.Patel@student.uts.edu.au
"12602064"   # Year2    trungvpham              Trung Pham              Trung.V.Pham@student.uts.edu.au
"11722651"   # Year2    georgiaredfern          Georgia Redfern         Georgia.Redfern@student.uts.edu.au
"12581880"   # Year2    hannahsaccasan          Hannah Saccasan         Hannah.Saccasan@student.uts.edu.au
"12591640"   # Year2    arvincsalazar           Arvin Salazar           Arvin.C.Salazar@student.uts.edu.au
"12602773"   # Year2    akashdeepsen            Akashdeep Sen           Akashdeep.Sen@student.uts.edu.au
"11921828"   # Year2    congshao1               Cong Shao               Cong.Shao-1@student.uts.edu.au
"12617268"   # Year2    claraesmith1            Clara Smith             Clara.E.Smith-1@student.uts.edu.au
"12594723"   # Year2    amirastanbouli1         Amira Stanbouli         Amira.Stanbouli-1@student.uts.edu.au
"12586665"   # Year2    eltonsu                 Elton Su                Elton.Su@student.uts.edu.au
"11610894"   # Year2    jietao1                 Jie Tao                 Jie.Tao-1@student.uts.edu.au
"12559365"   # Year2    alanathomas             Alana Thomas            Alana.Thomas@student.uts.edu.au
"12110223"   # Year2    marcostianadi           Marco Stephanus Tianadi Marco.S.Tianadi@student.uts.edu.au
"12586374"   # Year2    giancarlobtomasulo      Giancarlo Tomasulo      Giancarlo.B.Tomasulo@student.uts.edu.au
"12611289"   # Year2    vanessatran1            Vanessa Tran            Vanessa.Tran-1@student.uts.edu.au
"12587438"   # Year2    sebastianjturner        Sebastian Turner        Sebastian.J.Turner@student.uts.edu.au
"12612937"   # Year2    staceylturner           Stacey Turner           Stacey.L.Turner@student.uts.edu.au
"12598227"   # Year2    jirajudomsri            Jira Udomsri            Jira.J.Udomsri@student.uts.edu.au
"12570382"   # Year2    rosemaryvasquezbrown    Rosemary Vasquez-Brown  Rosemary.Vasquez-Brown@student.uts.edu.au
"97114793"   # Year2    rebeccalwallace         Rebecca Wallace         Rebecca.L.Wallace@student.uts.edu.au
"12497121"   # Year2    puiyeegloriawan         Pui Yee Gloria Wan      PuiYeeGloria.Wan@student.uts.edu.au
"12200061"   # Year2    yipengwang1             Yipeng Wang             Yipeng.Wang-1@student.uts.edu.au
"12589572"   # Year2    constanceswilliams      Constance Williams      Constance.S.Williams@student.uts.edu.au
"12616999"   # Year2    deborahwong             Deborah Wong            Deborah.Wong@student.uts.edu.au
"12559629"   # Year2    lokswong                Tiffany Wong            Lok.S.Wong@student.uts.edu.au
"12615910"   # Year2    yuktingawong            Alice Wong              Yukting.A.Wong@student.uts.edu.au
"99153850"   # Year2    haotianwu2              Haotian Wu              Haotian.Wu-2@student.uts.edu.au
"12585131"   # Year2    ruyuexia                Ruyue Xia               Ruyue.Xia@student.uts.edu.au
"12618967"   # Year2    angelafyuan             Angela Yuan             Angela.F.Yuan@student.uts.edu.au
"12206470"   # Year2    suiyangzeng1            Suiyang Zeng            Suiyang.Zeng-1@student.uts.edu.au
"12604625"   # Year2    kathyzhou               Kathy Zhou              Kathy.Zhou@student.uts.edu.au
"12088946"   # Year2    binhezhu1               Binhe Zhu               Binhe.Zhu-1@student.uts.edu.au
"128796"   # Staff    leomartyn               Leo Martyn              Leo.Martyn@uts.edu.au
"124474"   # Staff    zarvankotwal            Zarvan Kotwal           zarvan.kotwal@uts.edu.au
"124706"   # Staff    michaelmascarenas       Michael Mascarenas      michael.mascarenas@uts.edu.au
"12018166"   # Year3    denaaahmed              Dena Ahmed              dena.a.ahmed@student.uts.edu.au
"12692430"   # Year3    kristargoll             Krista Goll             Krista.R.Goll@student.uts.edu.au
"12044210"   # Year3    catherineyates          Katie Yates             Catherine.Yates@student.uts.edu.au
"11701962"   # Year3    joannehleejung          Joanne Lee-Jung         Joanne.H.Lee-Jung@student.uts.edu.au
"11982903"   # Year3    chloespizarro           Chloe Pizarro           Chloe.S.Pizarro@student.uts.edu.au
"11739810"   # Year3    christinemle            Christine Le            Christine.M.Le@student.uts.edu.au
"11732486"   # Year3    nathanfitzpatrick       Nathan Fitzpatrick      nathan.fitzpatrick@student.uts.edu.au
"12811295"   # Year3    lechunye                Le Chun Ye              lechun.ye@student.uts.edu.au
"12044374"   # Year3    lucyrwu                 Lucy Wu                 Lucy.R.Wu@student.uts.edu.au
"11466226"   # Year3    elenaseltsova           Elena Seltsova          elena.seltsova@student.uts.edu.au
"11215961"   # Masters  leonieherson            Leonie Herson           leonie.herson@student.uts.edu.au
"133605"   # Staff    christophernorris       Chris Norris            Christopher.Norris@uts.edu.au

],

"ValidLogins"   : ["@syslogins", "$Admin", "$MAV_Students", "$DAB_Students", "$Staff", "$DAB_Alumni", "$DAB_Masters"],
"BannedLogins"  : [ ],
"Wranglers"     : [ "$Admin", "$MAV_Students", "$DAB_Students", "$Staff", "$DAB_Alumni", "$DAB_Masters"],
"Administrators": [ "$Admin", "120988"]
},
#######################################################

    #
    # --------------------
    # Job Edit Permissions
    # --------------------
    # By default, everyone with a valid login is given "standard"
    # permissions, meaning the basic ability to run and modify their
    # own jobs and to view the state of the queue and the blades.
    # Users listed in the "Wranglers" crew are also allowed to alter
    # the general job queue, including the state of other user's jobs.
    # Users listed in the "Administrators" crew are allowed to change
    # site-wide policies through the URL interface.  The permission
    # levels are cumulative:  Wranglers have "standard" access plus the
    # additional wrangler permissions.  Administrators have standard,
    # wrangler, and admin access.
    #
    # The optional subdictionary "JobEditAccessPolicies" can be used
    # to further restrict or extend edit access to job attributes, such
    # as job priority.  A different access list can be specified for each
    # editable attribute, otherwise the settings for the entry named
    # "default" will apply. The special meta-crew name "@owner" in these
    # edit lists grants each job owner the permission edit the given
    # attribute in their own jobs.
    #
    # Edit permissions are organized into named "policies" with the one
    # named "defaultPolicy" applied by default.  Job scripts can specify
    # the policy that applies to them using the "Job -editpolicy {NAME}"
    # option.  Typically this is used by a studio's job creation pipeline
    # to apply additional restrictions on jobs from particular shows or
    # administrative jobs.  In cases where the job's specifically requested
    # policy is missing here, then the engine applies the settings from the
    # "defaultPolicy" entry, if it exists, rather than denying all edits
    # until the missing policy becomes defined.  Users in the Administrators
    # crew will always have edit control over any job.
    #
    # The recogonized fine-grained edit permission keywords include:
    #
    #   argv, afterjids, aftertime, bnotes, jnotes, comment, crews,
    #   cwd, delete, envkey, interrupt, jrestart, jshuffle, lock,
    #   metadata, maxactive, pause, priority, retract, retry,
    #   runsecsbounds, service, skip, slotbounds, tags, title
    #
    # In most cases the editable attributes are controlled by a key name
    # below that is the same as the attribute name, as listed by the command:
    # "tq attributes job"
    #

"JobEditAccessPolicies": {
    # Note:  don't forget commas after each entry!

        "defaultPolicy": {
            "priority": ["Administrators"],
            "projects": ["Administrators"],
            "crews":    ["Administrators"],
            "tags":     ["Administrators"],
            "tier":     ["Administrators"],
            "retract":  ["Wranglers", "Administrators"],
            "delete":   ["Administrators"],
            "metadata": ["Administrators"],
            "skip":     ["Wranglers", "Administrators"],
            "jrestart": ["Wranglers", "Administrators"],
            "pause":    ["Wranglers", "Administrators"],
            "interrupt":["Wranglers", "Administrators"],
            "envkey":   ["Wranglers", "Administrators"],
            "service":  ["Wranglers", "Administrators"],
            "cwd":      ["Wranglers", "Administrators"],
            "argv":     ["Administrators"],
            "retry":    ["Wranglers", "Administrators"],
            "interrupt":["Wranglers", "Administrators"],
            "pause":    ["Wranglers", "Administrators"],
            "afterJids":["Wranglers", "Administrators"],
            "afterTime":["Wranglers", "Administrators"],
            "title":    ["Administrators"],
            "default":  ["@owner", "Wranglers", "Administrators"]
        },


        "DABPolicy": {
            "priority": ["Wranglers", "Administrators"],
            "tier":     ["Wranglers", "Administrators"],
            "delete":   ["Wranglers", "Administrators"],
            "metadata": ["Wranglers", "Administrators"],
            "skip":     ["Wranglers", "Administrators"],
            "jrestart": ["Wranglers", "Administrators"],
            "pause":    ["Wranglers", "Administrators"],
            "interrupt":["Wranglers", "Administrators"],
            "title":    ["Wranglers", "Administrators"],
            "default":  ["Administrators"]
        }
    },

    #
    # ---------------------
    # SitePasswordValidator
    # ---------------------
    # "SitePasswordValidator" specifies a validation scheme for passwords
    # sent to the engine from user interfaces and scripts.  Use an empty
    # string "" to disable password checking, allowing any valid user
    # name to proceed as a client (the names authorized in ValidLogins).
    #
    # Any non-empty value for "SitePasswordValidator" will cause
    # passwords to be required, and specifies the type of validation
    # that will be applied.  All user+password validation occurs on
    # the tractor-engine host, so values here are relative to the
    # engine's environment, filesystem, operating system, etc.
    #
    # Tractor engine has built-in support for the "PAM" authentication
    # system provided by Linux and Mac OS.  Only the engine needs this
    # support, clients can be on any platform.  Use the string value
    # "internal:PAM" below to enable password validation through the
    # PAM modules on your engine host.
    #
    # The PAM scheme itself requires you to choose an appropriate access
    # policy module (see /etc/pam.d or /etc/pam.conf).  Tractor will
    # attempt to load a module named "tractor" by default, and you must
    # define that module first, using appropriate policies for your site.
    # Alternatively, you can specify a different PAM module name here,
    # one that may already exist and support your site's requirements.
    # For example to get the "su" authentication rules, use "internal:PAM:su"
    # below.
    #
    # Tractor-engine sends a session cookie to the dashboard web browser
    # after you authenticate with a password. The saved session information
    # can be used later for automatic login when a fresh dashboard page is
    # reloaded. This auto-login behavior can be disabled, forcing users to
    # reenter their passwords when the dashboard page is reloaded, by
    # changing the prefix in the SitePasswordValidator setting; change
    # "internal:" to "internal_nocookie:", or add the prefix
    # "external_nocookie:" for external validation scripts.
    #
    # **NOTE** The PAM approach requires tractor-engine to present a
    # clear-text password to the PAM interface, thus it must receive a
    # recoverable password encoding from the Dashboard and client scripts.
    # The built-in transfer encoding provides modest protection from
    # snooping, but your principal password transport protection is
    # expected to come from the security of your site's private LAN and
    # VPN connections into it.
    #
    # Tractor also supports a more involved custom alternative solution
    # in which you provide your own client-side one way password hashing
    # plug-in (javascript or python, as appropriate), and a matching
    # engine-side hash validator that you name here.  See the comments
    # in the template examples, and the Tractor administrative docs for
    # more details.
    #

"SitePasswordValidator": ""

    # "SitePasswordValidator": "internal:PAM:tractor"
    # "SitePasswordValidator": "internal:PAM:su"
    # "SitePasswordValidator": "internal_nocookie:PAM:su"

    # "SitePasswordValidator": "python ${TractorConfigDirectory}/trSiteLoginValidator.py",
    # "SitePasswordValidator": "python ${TractorConfigDirectory}/trSiteLdapLoginValidator.py"

}

