{
    #
    # Crews are simply named lists of users:
    #
    #   "the_crew_name":  ["list", "of", "user", "names"],
    #
    # In addition to any site-defined crews, there are four "reserved"
    # crews names used for special purposes by Tractor:
    #   "ValidLogins",  "BannedLogins",  "Wranglers",  "Administrators"
    #
    # The ValidLogins crew enumerates all user's who are allowed to
    # login to Tractor.  This crew MUST exist.  See the note regarding
    # about the meta-names "@syslogins" and "@externlogins" below.
    #
    # The BannedLogins crew lists user names that are explicitly denied
    # login.  It is mostly only useful for providing exceptions when
    # ValidLogins contains either of the meta-names "@syslogins" or
    # "@externlogins".
    #
    #
    # Special Meta-Names: "@syslogins" and "@externlogins"
    #
    # The user name list for a given crew can include either of these
    # special names.  "@syslogins" stands for all user login names
    # that are valid locally on the engine host (i.e. resolvable by
    # the function getpwnam(3)), which frequently includes those
    # resolvable by the site nameservers, such as LDAP or NIS.
    # For example:
    #    "ValidLogins": ["@syslogins"],
    #
    # The name "@externlogins" causes the engine to skip its internal
    # validation of a potential Dashboard user names, and instead the
    # engine passes all login names directly to the site's external
    # trSiteLoginValidator.py script (or whichever validation app is
    # named as the "SitePasswordValidator" below). The external validator
    # can accept or deny a given name+password pair. For example:
    #    "ValidLogins": ["@externlogins"],
    #
    # Note that wildcard characters in user names (e.g. "*") are NOT
    # expanded or treated specially when searching for user access.
    # However, the list of user names can also contain OTHER CREW
    # names, which will be expanded recursively to include the users
    # in those crews.  Crew name references that form "reference loops"
    # will be truncated, but may cause unexpected memberships.
    #
    # Any user name in a crew's membership list whose first character
    # is a minus-sign will be removed from that crew definition,
    # similarly for sub-crew names.  For example:
    #  "ourRestrictedCrew": ["ourBigCrew", "-knownMiscreants"],
    #
    # Crews that are referenced in name lists can be denoted with
    # a leading "$" in order to make them clearly distinguished as
    # crew names rather than user names.  This approach also allows
    # tractor-engine to issue better diagnostic messages when a
    # referenced crew is unknown -- otherwise than name is just
    # treated as another user name.  For example:
    #   "theLuncheon": ["terry", "vandana", "$theGuysFromShipping"],
    #
    # A particular user name may appear in more than one crew.
    #

######################################################
"Crews": {

"Admin":[
"120988",   # Staff    matthewgidney           Matt Gidney             matthew.gidney@uts.edu.au
"118523",   # Staff    simonharris             Simon Harris            simon.harris@uts.edu.au
],

"Animators":[
"98134428",   # Year4    kimberleygriffin        Kimberley Griffin       Kimberley.Griffin@student.uts.edu.au
"11982840",   # Year4    jodieaustin             Jodie Austin            Jodie.Austin@student.uts.edu.au
"99183079",   # Year3    anantaravilaazmi        Ananta Avilaazmi        Ananta.R.Avilaazmi@student.uts.edu.au
"12552966",   # Year4    alexandrabarnard        Alexandra Barnard       Alexandra.Barnard@student.uts.edu.au
"98125267",   # Year4    pierceccarlson          Pierce Carlson          Pierce.C.Carlson@student.uts.edu.au
"12596730",   # Year4    brittanyrconstable      Brittany Constable      Brittany.R.Constable@student.uts.edu.au
"12552838",   # Year4    maxinefcurva            Maxine Curva            Maxine.F.Curva@student.uts.edu.au
"12189167",   # Year3    xinyudeng2              Xinyu Deng              Xinyu.Deng-2@student.uts.edu.au
"12557827",   # Year3    jessiedu                Jessie Du               Jessie.Du@student.uts.edu.au
"12583480",   # Year4    jessicaedge             Jessica Edge            Jessica.Edge@student.uts.edu.au
"12601833",   # Year4    alexjfairhurst          Alex Fairhurst          Alex.J.Fairhurst@student.uts.edu.au
"12575332",   # Year4    francinefurnell         Francine Furnell        Francine.Furnell@student.uts.edu.au
"12422667",   # Year3    wenhuiguo1              Wenhui Guo              Wenhui.Guo-1@student.uts.edu.au
"98092188",   # Year4    sarahirner              Sara Hirner             Sara.Hirner@student.uts.edu.au
"12598165",   # Year3    hollyhuynh              Holly Huynh             Holly.Huynh@student.uts.edu.au
"12602241",   # Year4    maxakubuj               Max Kubuj               Max.A.Kubuj@student.uts.edu.au
"12569861",   # Year4    jazmineflee             Jazmine Lee             Jazmine.F.Lee@student.uts.edu.au
"12611315",   # Year4    ericlieu1               Eric Lieu               Eric.Lieu-1@student.uts.edu.au
"12550253",   # Year3    annabellemoreton        Annabelle Moreton       Annabelle.Moreton@student.uts.edu.au
"98042120",   # Year4    lawrencenatanauan       Lawrence Natanauan      Lawrence.Natanauan@student.uts.edu.au
"12612949",   # Year3    vincentngo              Vincent Ngo             Vincent.Ngo@student.uts.edu.au
"12613586",   # Year4    briannguyen2            Brian Nguyen            Brian.Nguyen-2@student.uts.edu.au
"12613612",   # Year3    stevennguyen            Steven Nguyen           Steven.Nguyen@student.uts.edu.au
"11722651",   # Year4    georgiaredfern          Georgia Redfern         Georgia.Redfern@student.uts.edu.au
"12581880",   # Year3    hannahsaccasan          Hannah Saccasan         Hannah.Saccasan@student.uts.edu.au
"12594723",   # Year3    amirastanbouli1         Amira Stanbouli         Amira.Stanbouli-1@student.uts.edu.au
"12586665",   # Year4    eltonsu                 Elton Su                Elton.Su@student.uts.edu.au
"12110223",   # Year4    marcostianadi           Marco Tianadi           Marco.S.Tianadi@student.uts.edu.au
"12586374",   # Year3    giancarlobtomasulo      Giancarlo Tomasulo      Giancarlo.B.Tomasulo@student.uts.edu.au
"12598227",   # Year4    jirajudomsri            Jira Udomsri            Jira.J.Udomsri@student.uts.edu.au
"12570382",   # Year4    rosemaryvasquezbrown    Rosemary Vasquez-Brown  Rosemary.Vasquez-Brown@student.uts.edu.au
"12589572",   # Year3    constanceswilliams      Constance Williams      Constance.S.Williams@student.uts.edu.au
"12615910",   # Year4    yuktingawong            Yukting Alice Wong      Yukting.A.Wong@student.uts.edu.au
"99153850",   # Year3    haotianwu2              Haotian Wu              Haotian.Wu-2@student.uts.edu.au
"12618967",   # Year4    angelafyuan             Angela Yuan             Angela.F.Yuan@student.uts.edu.au
"12088946",   # Year3    binhezhu1               Binhe Zhu               Binhe.Zhu-1@student.uts.edu.au
"12957472",   # Year3    emilyager               Emily Ager              Emily.Ager@student.uts.edu.au
"12929651",   # Year3    shervinahmadian         Shervin Ahmadian        Shervin.Ahmadian@student.uts.edu.au
"12793028",   # Year3    fernsufernbay           Fern Su Fern Bay        FernSuFern.Bay@student.uts.edu.au
"12929055",   # Year3    amylbell                Amy Bell                Amy.L.Bell@student.uts.edu.au
"12902779",   # Year3    federicabotte           Federica Botte          Federica.Botte@student.uts.edu.au
"12925463",   # Year3    nicholasbray            Nicholas Bray           Nicholas.Bray@student.uts.edu.au
"12944272",   # Year3    emmalbrennan            Emma Brennan            Emma.L.Brennan@student.uts.edu.au
"12932529",   # Year3    maximilianycao          Maximilian Cao          Maximilian.Y.Cao@student.uts.edu.au
"12615276",   # Year3    anitachen1              Anita Chen              Anita.Chen-1@student.uts.edu.au
"12615720",   # Year3    sarahchen               Sarah Chen              Sarah.Chen@student.uts.edu.au
"11868775",   # Year3    shaopengchen1           Shaopeng Chen           Shaopeng.Chen-1@student.uts.edu.au
"12918227",   # Year3    yvonnecheung            Yvonne Cheung           Yvonne.Cheung@student.uts.edu.au
"12625240",   # Year3    williamcho              Jun Hee Cho             William.Cho@student.uts.edu.au
"12923470",   # Year3    velesonchoup            Veleson Choup           Veleson.Choup@student.uts.edu.au
"12898971",   # Year3    jamestcohen             James Cohen             James.T.Cohen@student.uts.edu.au
"12944258",   # Year3    danielcooper1           Daniel Cooper           Daniel.Cooper-1@student.uts.edu.au
"12943864",   # Year3    isabellecoury           Isabelle Coury          Isabelle.Coury@student.uts.edu.au
"12935589",   # Year3    jeremylcox              Jeremy Cox              Jeremy.L.Cox@student.uts.edu.au
"12938318",   # Year3    christinaccrossley      Christina Crossley      Christina.C.Crossley@student.uts.edu.au
"12962445",   # Year3    alexandergdejanovic     Alexander Dejanovic     Alexander.G.Dejanovic@student.uts.edu.au
"12709554",   # Year3    khavyduong              Kha Vy Duong            KhaVy.Duong@student.uts.edu.au
"12928166",   # Year3    karenletherington       Karen Etherington       Karen.L.Etherington@student.uts.edu.au
"12915144",   # Year3    maxinegando             Maxine Gando            Maxine.Gando@student.uts.edu.au
"12963435",   # Year3    sarahgeerin1            Sarah Geerin            Sarah.Geerin-1@student.uts.edu.au
"12888208",   # Year3    ninagordon              Nina Gordon             Nina.Gordon@student.uts.edu.au
"11995673",   # Year3    atticusgough            Atticus Gough           Atticus.Gough@student.uts.edu.au
"12905218",   # Year3    sophiedgreenwood        Sophie Greenwood        Sophie.D.Greenwood@student.uts.edu.au
"12962496",   # Year3    raynaldlhidayat         Raynald Hidayat         Raynald.L.Hidayat@student.uts.edu.au
"12961417",   # Year3    maymhingston1           May Hingston            May.M.Hingston-1@student.uts.edu.au
"12892550",   # Year3    isabelholborow          Isabel Holborow         Isabel.Holborow@student.uts.edu.au
"12921146",   # Year3    kylieakwok              Kylie Kwok              Kylie.A.Kwok@student.uts.edu.au
"12123194",   # Year3    laiphatlam1             Lai Lam                 LaiPhat.Lam-1@student.uts.edu.au
"12929749",   # Year3    tiffanyglao             Tiffany Lao             Tiffany.G.Lao@student.uts.edu.au
"12911436",   # Year3    jeremyle                Jeremy Le               Jeremy.Le@student.uts.edu.au
"12933560",   # Year3    romyalester             Romy Lester             Romy.A.Lester@student.uts.edu.au
"12943837",   # Year3    jinxli                  Jin Li                  Jin.X.Li@student.uts.edu.au
"12884348",   # Year3    sylvialian              Sylvia Lian             Sylvia.Lian@student.uts.edu.au
"12962902",   # Year3    luyanliang1             Luyan Liang             Luyan.Liang-1@student.uts.edu.au
"12935944",   # Year3    seanloftus              Sean Loftus             Sean.Loftus@student.uts.edu.au
"12936377",   # Year3    mingyuelou              Mingyue Lou             Mingyue.Lou@student.uts.edu.au
"12879868",   # Year3    yongqianilu             Yongqian Lu             Yongqian.I.Lu@student.uts.edu.au
"12651648",   # Year3    inezmarcia1             Inez Marcia             Inez.Marcia-1@student.uts.edu.au
"12944219",   # Year3    jamesmatthews           James Matthews          James.Matthews@student.uts.edu.au
"12552321",   # Year3    isabellameagher         Isabella Meagher        Isabella.Meagher@student.uts.edu.au
"12567830",   # Year3    hanamiyajima            Hana Miyajima           Hana.Miyajima@student.uts.edu.au
"12943890",   # Year3    sarahjmurphy1           Sarah Murphy            Sarah.J.Murphy-1@student.uts.edu.au
"12960858",   # Year3    taylahmustac1           Taylah Mustac           Taylah.Mustac-1@student.uts.edu.au
"12917403",   # Year3    lilyroconnor            Lily O'Connor           Lily.R.OConnor@student.uts.edu.au
"12956266",   # Year3    cameronqayoomtaylor     Cameron Qayoom-Taylor   Cameron.Qayoom-Taylor@student.uts.edu.au
"12946986",   # Year3    leannequach1            Leanne Quach            Leanne.Quach-1@student.uts.edu.au
"12580015",   # Year3    alexanderdrathie        Alexander Rathie        Alexander.D.Rathie@student.uts.edu.au
"12001677",   # Year3    chelseaeriddington      Chelsea Riddington      Chelsea.E.Riddington@student.uts.edu.au
"99191342",   # Year3    jianqiaoshang1          Jianqiao Shang          Jianqiao.Shang-1@student.uts.edu.au
"12431401",   # Year3    yuelinshi1              Yuelin Shi              Yuelin.Shi-1@student.uts.edu.au
"12943965",   # Year3    genevievestewart        Genevieve Stewart       Genevieve.Stewart@student.uts.edu.au
"12903884",   # Year3    jacintasu               Jacinta Su              Jacinta.Su@student.uts.edu.au
"12575128",   # Year3    leoniejsuen             Leonie Suen             Leonie.J.Suen@student.uts.edu.au
"12906374",   # Year3    erinrsutherland         Erin Sutherland         Erin.R.Sutherland@student.uts.edu.au
"12904138",   # Year3    annatago                Anna Tago               Anna.Tago@student.uts.edu.au
"12949261",   # Year3    mitchellctaylor         Mitchell Taylor         Mitchell.C.Taylor@student.uts.edu.au
"12935983",   # Year3    laurathompson           Will Thompson           Laura.Thompson@student.uts.edu.au
"12927719",   # Year3    erintopfer              Erin Topfer             Erin.Topfer@student.uts.edu.au
"12944183",   # Year3    christopherqtran        Christopher Tran        Christopher.Q.Tran@student.uts.edu.au
"12920690",   # Year3    sarahupfold             Sarah Upfold            Sarah.Upfold@student.uts.edu.au
"12897043",   # Year3    jamesvallance           James Vallance          James.Vallance@student.uts.edu.au
"12961506",   # Year3    katebwahday             Kate Wah Day            Kate.B.WahDay@student.uts.edu.au
"12695868",   # Year3    chingweiwang            Ching-Wei Wang          Ching-Wei.Wang@student.uts.edu.au
"12410914",   # Year3    xiaopingwang2           Xiaoping Wang           Xiaoping.Wang-2@student.uts.edu.au
"12880821",   # Year3    lokywu                  Lok Yan Wu              Lok.Y.Wu@student.uts.edu.au
"12876696",   # Year3    joshuayasserie          Joshua Yasserie         Joshua.Yasserie@student.uts.edu.au
"12928596",   # Year3    sandrazye               Sandra Ye               Sandra.Z.Ye@student.uts.edu.au
"12963411",   # Year3    ericawyu                Erica Yu                Erica.W.Yu@student.uts.edu.au
"12932442",   # Year3    karinlzhouzheng         Karin Zhou-Zheng        Karin.L.Zhou-Zheng@student.uts.edu.au
"12501577",   # Year3    jiachengwang1           Jiacheng Wang           Jiacheng.Wang-1@student.uts.edu.au
"12408732",   # Year3    haoli9                  Hao Li                  Hao.Li-9@student.uts.edu.au
"12631774",   # Year3    jimonfujita1            Jimon Fujita            Jimon.Fujita-1@student.uts.edu.au
"12506251",   # Year3    yugao4                  Yu Gao                  Yu.Gao-4@student.uts.edu.au
"12168858",   # Year3    jingyihe1               Jingyi He               Jingyi.He-1@student.uts.edu.au
"12450627",   # Year3    jinhuihuang3            Jinhui Huang            Jinhui.Huang-3@student.uts.edu.au
"12925071",   # Year3    seoyoungkim             Seoyoung Kim            Seoyoung.Kim@student.uts.edu.au
"12422768",   # Year3    taiheekim1              Taihee Kim              Taihee.Kim-1@student.uts.edu.au
"12510412",   # Year3    tranbaonle              Tran Le                 TranBao.N.Le@student.uts.edu.au
"12508750",   # Year3    yunlee1                 Yun Lee                 Yun.Lee-1@student.uts.edu.au
"12427593",   # Year3    jingwenli3              Jingwen Li              Jingwen.Li-3@student.uts.edu.au
"12634426",   # Year3    zongshengli1            Zongsheng Li            Zongsheng.Li-1@student.uts.edu.au
"99192078",   # Year3    jiachenliu1             Jiachen Liu             Jiachen.Liu-1@student.uts.edu.au
"12656993",   # Year3    ziqiaoliu1              Ziqiao Liu              Ziqiao.Liu-1@student.uts.edu.au
"11409909",   # Year3    jaemoon                 Jae Moon                Jae.Moon@student.uts.edu.au
"12631469",   # Year3    diqiang1                Di Qiang                Di.Qiang-1@student.uts.edu.au
"12416487",   # Year3    ziyiren1                Ziyi Ren                Ziyi.Ren-1@student.uts.edu.au
"12454005",   # Year3    xueweitian1             Xuewei Tian             Xuewei.Tian-1@student.uts.edu.au
"12423125",   # Year3    truongquynhthyuong1     Truong Quynh Uong       TruongQuynhThy.Uong-1@student.uts.edu.au
"99164168",   # Year3    jinzhiwang2             Jinzhi Wang             Jinzhi.Wang-2@student.uts.edu.au
"12710606",   # Year3    yutingwang1             Yuting Wang             Yuting.Wang-1@student.uts.edu.au
"12926693",   # Year3    ivywweng                Ivy Weng                Ivy.W.Weng@student.uts.edu.au
"12663858",   # Year3    yujunwu2                Yujun Wu                Yujun.Wu-2@student.uts.edu.au
"11943610",   # Year3    ziyixue                 Ziyi Xue                Ziyi.Xue@student.uts.edu.au
"12510727",   # Year3    yayunyang1              Yayun Yang              Yayun.Yang-1@student.uts.edu.au
"12632903",   # Year3    hengyuanzhao1           Hengyuan Zhao           Hengyuan.Zhao-1@student.uts.edu.au
"12200578",   # Year3    xiaoyuzhao1             Xiaoyu Zhao             Xiaoyu.Zhao-1@student.uts.edu.au
"13287329",   # Year2    josephinembaird         Josephine Baird         Josephine.M.Baird@student.uts.edu.au
"13206053",   # Year2    linabang                Lina Bang               Lina.Bang@student.uts.edu.au
"13263785",   # Year2    kylebritton             Kyle Britton            Kyle.Britton@student.uts.edu.au
"12936213",   # Year2    karlabrooks             Karla Brooks            Karla.Brooks@student.uts.edu.au
"13196908",   # Year2    lukecadorintaylor       Luke Cadorin-Taylor     Luke.Cadorin-Taylor@student.uts.edu.au
"12175891",   # Year2    zijiancai1              Zijian Cai              Zijian.Cai-1@student.uts.edu.au
"12862520",   # Year2    jodygcandra             Jody Candra             Jody.G.Candra@student.uts.edu.au
"13252022",   # Year2    liamcantwell            Liam Cantwell           Liam.Cantwell@student.uts.edu.au
"13218540",   # Year2    lilianycao              Lilian Cao              Lilian.Y.Cao@student.uts.edu.au
"13289400",   # Year2    jameschen5              James Chen              James.Chen-5@student.uts.edu.au
"13010816",   # Year2    kaichen7                Kai Chen                Kai.Chen-7@student.uts.edu.au
"12671309",   # Year2    qianchen3               Qian Chen               Qian.Chen-3@student.uts.edu.au
"12831069",   # Year2    sixingchen1             Sixing Chen             Sixing.Chen-1@student.uts.edu.au
"13113699",   # Year2    yuechen7                Yue Chen                Yue.Chen-7@student.uts.edu.au
"12881607",   # Year2    zhengmingmchen          Zhengming Chen          Zhengming.M.Chen@student.uts.edu.au
"12438040",   # Year2    ziyingchen2             Ziying Chen             Ziying.Chen-2@student.uts.edu.au
"13212093",   # Year2    yeanmchong              Yean Chong              Yean.M.Chong@student.uts.edu.au
"13277102",   # Year2    danieldang2             Daniel Nghia Nhan Dang  Daniel.Dang-2@student.uts.edu.au
"12829242",   # Year2    yutongdi1               Yutong Di               Yutong.Di-1@student.uts.edu.au
"13019195",   # Year2    linding2                Lin Ding                Lin.Ding-2@student.uts.edu.au
"12618233",   # Year2    rebeccaedwards          Rebecca Edwards         Rebecca.Edwards@student.uts.edu.au
"12896243",   # Year2    eveeleftheriou          Eve Eleftheriou         Eve.Eleftheriou@student.uts.edu.au
"13287875",   # Year2    nathanevans             Nathan Evans            Nathan.Evans@student.uts.edu.au
"13219213",   # Year2    remiroseevans           Remi-Rose Evans         Remi-Rose.Evans@student.uts.edu.au
"13248428",   # Year2    samuelevans             Samuel Evans            Samuel.Evans@student.uts.edu.au
"12495875",   # Year2    yimeifeng1              Yimei Feng              Yimei.Feng-1@student.uts.edu.au
"13191491",   # Year2    isabellagagliano        Isabella Gagliano       Isabella.Gagliano@student.uts.edu.au
"12883031",   # Year2    madisongibbs            Maddison Gibbs          Madison.Gibbs@student.uts.edu.au
"13232931",   # Year2    brigittecgrahamhayes    Brigitte Graham-Hayes   Brigitte.C.Graham-Hayes@student.uts.edu.au
"13253481",   # Year2    millyguo                Milly Guo               Milly.Guo@student.uts.edu.au
"12860209",   # Year2    xinyiguo                Xinyi Guo               Xinyi.Guo@student.uts.edu.au
"13234695",   # Year2    madelainechabil         Madelaine Habil         Madelaine.C.Habil@student.uts.edu.au
"12793865",   # Year2    rubaiyanurhasan1        Rubaiya Nur Hasan       RubaiyaNur.Hasan-1@student.uts.edu.au
"13021668",   # Year2    yannihe1                Yanni He                Yanni.He-1@student.uts.edu.au
"13228010",   # Year2    emilyhestelow           Emily Hestelow          Emily.Hestelow@student.uts.edu.au
"13188863",   # Year2    serenamhor              Serena Hor              Serena.M.Hor@student.uts.edu.au
"13247921",   # Year2    jessicawhuang           Jessica Huang           Jessica.W.Huang@student.uts.edu.au
"13248861",   # Year2    michellenhuynh          Michelle Huynh          Michelle.N.Huynh@student.uts.edu.au
"13204995",   # Year2    anastasiyaivashov       Anastasiya Ivashov      Anastasiya.Ivashov@student.uts.edu.au
"12985610",   # Year2    brendajie               Brenda Jie              Brenda.Jie@student.uts.edu.au
"13196720",   # Year2    wonsunjin               Wonsun Jin              Wonsun.Jin@student.uts.edu.au
"12781807",   # Year2    huudatkan               Huu Dat Kan             HuuDat.Kan@student.uts.edu.au
"13234137",   # Year2    shahalamkazi            Shahalam Kazi           Shahalam.Kazi@student.uts.edu.au
"12805394",   # Year2    ruike1                  Rui Ke                  Rui.Ke-1@student.uts.edu.au
"13237704",   # Year2    leahmeikramer           Leah Mei Kramer         LeahMei.Kramer@student.uts.edu.au
"12553943",   # Year2    indigorkrix             Indigo Krix             Indigo.R.Krix@student.uts.edu.au
"13287040",   # Year2    tszchinglau1            Tsz Ching Lau           TszChing.Lau-1@student.uts.edu.au
"13202078",   # Year2    nicholasjlazo           Nicholas Lazo           Nicholas.J.Lazo@student.uts.edu.au
"12866986",   # Year2    hanyili                 Hanyi Li                Hanyi.Li@student.uts.edu.au
"12649810",   # Year2    linli8                  Lin Li                  Lin.Li-8@student.uts.edu.au
"12836476",   # Year2    tongzhouli1             Tongzhou Li             Tongzhou.Li-1@student.uts.edu.au
"12115349",   # Year2    siqianliang1            Siqian Liang            Siqian.Liang-1@student.uts.edu.au
"12568034",   # Year2    cocotlin                Tien-Hsin Lin           Coco.T.Lin@student.uts.edu.au
"13189749",   # Year2    tracylin                Tracy Lin               Tracy.Lin@student.uts.edu.au
"12422628",   # Year2    huihanliu1              Huihan Liu              Huihan.Liu-1@student.uts.edu.au
"13252301",   # Year2    winstonliu              Winston Liu             Winston.Liu@student.uts.edu.au
"12895583",   # Year2    francescaloren          Francesca Loren         Francesca.Loren@student.uts.edu.au
"13253176",   # Year2    wendylu1                Wendy Lu                Wendy.Lu-1@student.uts.edu.au
"12709337",   # Year2    guodongmao1             Guodong Mao             Guodong.Mao-1@student.uts.edu.au
"13219682",   # Year2    emmalmattner            Emma Mattner            Emma.L.Mattner@student.uts.edu.au
"12946695",   # Year2    sarahjmonaghan          Sarah Monaghan          Sarah.J.Monaghan@student.uts.edu.au
"13218476",   # Year2    jessicamulet            Jessica Mulet           Jessica.Mulet@student.uts.edu.au
"13254382",   # Year2    annanguyen8             Anna Nguyen             Anna.Nguyen-8@student.uts.edu.au
"12824951",   # Year2    dinhtiennguyen1         Dinh Nguyen             DinhTien.Nguyen-1@student.uts.edu.au
"13190297",   # Year2    allannoh                A Noh                   Allan.Noh@student.uts.edu.au
"13289588",   # Year2    anthonytong             Anthony Ong             Anthony.T.Ong@student.uts.edu.au
"13236904",   # Year2    artibenmoza             Artiben Oza             Artiben.M.Oza@student.uts.edu.au
"13209059",   # Year2    tszwpang                Tsz Pang                Tsz.W.Pang@student.uts.edu.au
"13090687",   # Year2    haeminpark              Haemin Park             Haemin.Park@student.uts.edu.au
"13253164",   # Year2    hyejootpark             Hye Joo Park            HyeJoo.T.Park@student.uts.edu.au
"12565469",   # Year2    brandytpose             Brandy Pose             Brandy.T.Pose@student.uts.edu.au
"12761476",   # Year2    yuanyuanqin1            Yuanyuan Qin            Yuanyuan.Qin-1@student.uts.edu.au
"12625846",   # Year2    shuairen1               Shuai Ren               Shuai.Ren-1@student.uts.edu.au
"13263811",   # Year2    kiarasrodriquezhextall  Kiara Rodriguez-Hextall Kiara.S.Rodriquez-Hextall@student.uts.edu.au
"13227931",   # Year2    ellarousseau            Ella Rousseau           Ella.Rousseau@student.uts.edu.au
"13200163",   # Year2    jacobnsadler            Jacob Sadler            Jacob.N.Sadler@student.uts.edu.au
"13216852",   # Year2    lindseysampang          Lindsey Sampang         Lindsey.Sampang@student.uts.edu.au
"13248493",   # Year2    williamjsavage1         William Savage          William.J.Savage-1@student.uts.edu.au
"12917225",   # Year2    nilufarshah             Nilufar Shah            Nilufar.Shah@student.uts.edu.au
"13230469",   # Year2    takstapleton            Tak Stapleton           Tak.Stapleton@student.uts.edu.au
"13286683",   # Year2    stanleysu1              Stanley Su              Stanley.Su-1@student.uts.edu.au
"12777835",   # Year2    chungyeesuen1           Chung Suen              ChungYee.Suen-1@student.uts.edu.au
"12790933",   # Year2    weitang3                Wei Tang                Wei.Tang-3@student.uts.edu.au
"13200175",   # Year2    xiangyutang             Xiangyu Tang            Xiangyu.Tang@student.uts.edu.au
"13244850",   # Year2    natalietran1            Natalie Tran            Natalie.Tran-1@student.uts.edu.au
"12943736",   # Year2    patrickhtran            Patrick Tran            Patrick.H.Tran@student.uts.edu.au
"13244381",   # Year2    williamtran2            William Tran            William.Tran-2@student.uts.edu.au
"13216787",   # Year2    alexandratretiak        Alexandra Tretiak       Alexandra.Tretiak@student.uts.edu.au
"13244924",   # Year2    andtrinh                An Trinh                An.D.Trinh@student.uts.edu.au
"13232689",   # Year2    jeantrinh               Jean Trinh              Jean.Trinh@student.uts.edu.au
"13245131",   # Year2    ethanwtu                Ethan Tu                Ethan.W.Tu@student.uts.edu.au
"13230851",   # Year2    teritzaneros            Teri Tzaneros           Teri.Tzaneros@student.uts.edu.au
"13209426",   # Year2    audreyvillafana         Audrey Villafana        Audrey.Villafana@student.uts.edu.au
"12942633",   # Year2    allenwang2              Allen Wang              Allen.Wang-2@student.uts.edu.au
"12830042",   # Year2    ruiyingwang2            Ruiying Wang            Ruiying.Wang-2@student.uts.edu.au
"13260498",   # Year2    yanbomwang              Yanbo Wang              Yanbo.M.Wang@student.uts.edu.au
"13008608",   # Year2    yanwenwang2             Yanwen Wang             Yanwen.Wang-2@student.uts.edu.au
"12840613",   # Year2    zhuoyingwang2           Zhuoying Wang           Zhuoying.Wang-2@student.uts.edu.au
"13247578",   # Year2    matthewwatson1          Matthew Watson          Matthew.Watson-1@student.uts.edu.au
"13227715",   # Year2    yashicawhite            Yashica White           Yashica.White@student.uts.edu.au
"13194915",   # Year2    joelshagrin             Joel Wise               Joel.Shagrin@student.uts.edu.au
"13020843",   # Year2    baochengxu              Baocheng Xu             Baocheng.Xu@student.uts.edu.au
"12722322",   # Year2    yananxu1                Yanan Xu                Yanan.Xu-1@student.uts.edu.au
"12723882",   # Year2    chaoxue2                Chao Xue                Chao.Xue-2@student.uts.edu.au
"12442556",   # Year2    ludiyan1                Ludi Yan                Ludi.Yan-1@student.uts.edu.au
"12410419",   # Year2    yaoyaoyang1             Yaoyao Yang             Yaoyao.Yang-1@student.uts.edu.au
"12711709",   # Year2    haoyuan1                Hao Yuan                Hao.Yuan-1@student.uts.edu.au
"13291644",   # Year2    jeffreyjyung            Jeffrey Yung            Jeffrey.J.Yung@student.uts.edu.au
"13073539",   # Year2    chezeng                 Che Zeng                Che.Zeng@student.uts.edu.au
"12705909",   # Year2    hengzhang2              Heng Zhang              Heng.Zhang-2@student.uts.edu.au
"12717423",   # Year2    hengzhang3              Heng Zhang              Heng.Zhang-3@student.uts.edu.au
"12657728",   # Year2    hongjiazhang            Hongjia Zhang           Hongjia.Zhang@student.uts.edu.au
"12696631",   # Year2    jieyangzhang1           Jieyang Zhang           Jieyang.Zhang-1@student.uts.edu.au
"12210340",   # Year2    ruizhezhang1            Ruizhe Zhang            Ruizhe.Zhang-1@student.uts.edu.au
"12665624",   # Year2    wangwangzhang1          Wangwang Zhang          Wangwang.Zhang-1@student.uts.edu.au
"12723122",   # Year2    yaolinzhang2            Yaolin Zhang            Yaolin.Zhang-2@student.uts.edu.au
"12829356",   # Year2    yuanyuanzhang8          Yuanyuan Zhang          Yuanyuan.Zhang-8@student.uts.edu.au
"12773154",   # Year2    zhiyuanzhang3           Zhiyuan Zhang           Zhiyuan.Zhang-3@student.uts.edu.au
"12782862",   # Year2    hengzhao1               Heng Zhao               Heng.Zhao-1@student.uts.edu.au
"13288434",   # Year2    zhiweizhao1             Zhiwei Zhao             Zhiwei.Zhao-1@student.uts.edu.au
"13225976",   # Year2    samuelszheng            Samuel Zheng            Samuel.S.Zheng@student.uts.edu.au
"13230964",   # Year2    cindyxzhi               Cindy Zhi               Cindy.X.Zhi@student.uts.edu.au
"12873509",   # Year2    boyuzhu1                Boyu Zhu                Boyu.Zhu-1@student.uts.edu.au
"99132944",   # Year3    joshuamckay             Joshua McKay            Joshua.McKay@student.uts.edu.au
],

"Staff":[
"120988",   # Staff    matthewgidney           Matt Gidney             matthew.gidney@uts.edu.au
"114682",   # Staff    damiangascoigne         Damian Gascoigne        Damian.Gascoigne@uts.edu.au
"998262",   # Staff    deborahszapiro          Deborah Szapiro         Deborah.Szapiro@uts.edu.au
"114734",   # Staff    deborahcameron          Deb Cameron             Deborah.Cameron@uts.edu.au
"116885",   # Staff    simonvonwolkenstein     Simon von Wolkenstein   simon.vonwolkenstein@uts.edu.au
"117481",   # Staff    mauricegiacomini        Maurice Giacomini       Maurice.Giacomini@uts.edu.au
"117559",   # Staff    patrickgrant            Pat Grant               Patrick.Grant@uts.edu.au
"124934",   # Staff    jackmcgrath             Jack McGrath            Jack.McGrath@uts.edu.au
"121135",   # Staff    mariekawalsh            Marieka Walsh           Marieka.Walsh@uts.edu.au
"128796",   # Staff    leomartyn               Leo Martyn              Leo.Martyn@uts.edu.au
"129107",   # Staff    laurentauclair          Laurent Auclair         Laurent.Auclair@uts.edu.au
"139073",   # Staff    andrewkimberley         Andrew Kimberely        andrew.kimberley@uts.edu.au
"129810",   # Staff    jakeduczynski           Jake Duczynski          jake.duczynski@uts.edu.au
"124476",   # Staff    mariajuergens           Masha Juergens          maria.juergens@uts.edu.au
"117332",   # Staff    federicoferrari         Federico Ferrari        federico.ferrari@uts.edu.au
"dataarena", # dataarena dataarena staff
],

"Wranglers":[
"120988",   # Staff    matthewgidney           Matt Gidney             matthew.gidney@uts.edu.au
],

"Masters":[
"11413984",   # Masters  kerlgalindo             Kerl Galindo            Kerl.Galindo@student.uts.edu.au
],

"ValidLogins"   : ["@syslogins", "$Admin", "Wranglers", "$Animators", "$Staff", "$Alumni", "Masters"],
"BannedLogins"  : [ ],
"Wranglers"     : [ "$Admin", "$Wranglers", "$Staff" ],
"Administrators": [ "$Admin", "120988", "root", "pixar"]
},
#######################################################

    #
    # --------------------
    # Job Edit Permissions
    # --------------------
    # By default, everyone with a valid login is given "standard"
    # permissions, meaning the basic ability to run and modify their
    # own jobs and to view the state of the queue and the blades.
    # Users listed in the "Wranglers" crew are also allowed to alter
    # the general job queue, including the state of other user's jobs.
    # Users listed in the "Administrators" crew are allowed to change
    # site-wide policies through the URL interface.  The permission
    # levels are cumulative:  Wranglers have "standard" access plus the
    # additional wrangler permissions.  Administrators have standard,
    # wrangler, and admin access.
    #
    # The optional subdictionary "JobEditAccessPolicies" can be used
    # to further restrict or extend edit access to job attributes, such
    # as job priority.  A different access list can be specified for each
    # editable attribute, otherwise the settings for the entry named
    # "default" will apply. The special meta-crew name "@owner" in these
    # edit lists grants each job owner the permission edit the given
    # attribute in their own jobs.
    #
    # Edit permissions are organized into named "policies" with the one
    # named "defaultPolicy" applied by default.  Job scripts can specify
    # the policy that applies to them using the "Job -editpolicy {NAME}"
    # option.  Typically this is used by a studio's job creation pipeline
    # to apply additional restrictions on jobs from particular shows or
    # administrative jobs.  In cases where the job's specifically requested
    # policy is missing here, then the engine applies the settings from the
    # "defaultPolicy" entry, if it exists, rather than denying all edits
    # until the missing policy becomes defined.  Users in the Administrators
    # crew will always have edit control over any job.
    #
    # The recogonized fine-grained edit permission keywords include:
    #
    #   argv, afterjids, aftertime, bnotes, jnotes, comment, crews,
    #   cwd, delete, envkey, interrupt, jrestart, jshuffle, lock,
    #   metadata, maxactive, pause, priority, retract, retry,
    #   runsecsbounds, service, skip, slotbounds, tags, title
    #
    # In most cases the editable attributes are controlled by a key name
    # below that is the same as the attribute name, as listed by the command:
    # "tq attributes job"
    #

"JobEditAccessPolicies": {
    # Note:  don't forget commas after each entry!

        "defaultPolicy": {
            "priority": ["Administrators"],
            "projects": ["Administrators"],
            "crews":    ["Administrators"],
            "tags":     ["Administrators"],
            "tier":     ["Administrators"],
            "retract":  ["Wranglers", "Administrators"],
            "delete":   ["Administrators"],
            "metadata": ["Administrators"],
            "skip":     ["Wranglers", "Administrators"],
            "jrestart": ["Wranglers", "Administrators"],
            "pause":    ["Wranglers", "Administrators"],
            "interrupt":["Wranglers", "Administrators"],
            "envkey":   ["Wranglers", "Administrators"],
            "service":  ["Wranglers", "Administrators"],
            "cwd":      ["Wranglers", "Administrators"],
            "argv":     ["Administrators"],
            "retry":    ["Wranglers", "Administrators"],
            "interrupt":["Wranglers", "Administrators"],
            "pause":    ["Wranglers", "Administrators"],
            "afterJids":["Wranglers", "Administrators"],
            "afterTime":["Wranglers", "Administrators"],
            "title":    ["Administrators"],
            "default":  ["@owner", "Wranglers", "Administrators"]
        },


        "DABPolicy": {
            "priority": ["Wranglers", "Administrators"],
            "tier":     ["Wranglers", "Administrators"],
            "delete":   ["Wranglers", "Administrators"],
            "metadata": ["Wranglers", "Administrators"],
            "skip":     ["Wranglers", "Administrators"],
            "jrestart": ["Wranglers", "Administrators"],
            "pause":    ["Wranglers", "Administrators"],
            "interrupt":["Wranglers", "Administrators"],
            "title":    ["Wranglers", "Administrators"],
            "default":  ["Administrators"]
        }
    },

    #
    # ---------------------
    # SitePasswordValidator
    # ---------------------
    # "SitePasswordValidator" specifies a validation scheme for passwords
    # sent to the engine from user interfaces and scripts.  Use an empty
    # string "" to disable password checking, allowing any valid user
    # name to proceed as a client (the names authorized in ValidLogins).
    #
    # Any non-empty value for "SitePasswordValidator" will cause
    # passwords to be required, and specifies the type of validation
    # that will be applied.  All user+password validation occurs on
    # the tractor-engine host, so values here are relative to the
    # engine's environment, filesystem, operating system, etc.
    #
    # Tractor engine has built-in support for the "PAM" authentication
    # system provided by Linux and Mac OS.  Only the engine needs this
    # support, clients can be on any platform.  Use the string value
    # "internal:PAM" below to enable password validation through the
    # PAM modules on your engine host.
    #
    # The PAM scheme itself requires you to choose an appropriate access
    # policy module (see /etc/pam.d or /etc/pam.conf).  Tractor will
    # attempt to load a module named "tractor" by default, and you must
    # define that module first, using appropriate policies for your site.
    # Alternatively, you can specify a different PAM module name here,
    # one that may already exist and support your site's requirements.
    # For example to get the "su" authentication rules, use "internal:PAM:su"
    # below.
    #
    # Tractor-engine sends a session cookie to the dashboard web browser
    # after you authenticate with a password. The saved session information
    # can be used later for automatic login when a fresh dashboard page is
    # reloaded. This auto-login behavior can be disabled, forcing users to
    # reenter their passwords when the dashboard page is reloaded, by
    # changing the prefix in the SitePasswordValidator setting; change
    # "internal:" to "internal_nocookie:", or add the prefix
    # "external_nocookie:" for external validation scripts.
    #
    # **NOTE** The PAM approach requires tractor-engine to present a
    # clear-text password to the PAM interface, thus it must receive a
    # recoverable password encoding from the Dashboard and client scripts.
    # The built-in transfer encoding provides modest protection from
    # snooping, but your principal password transport protection is
    # expected to come from the security of your site's private LAN and
    # VPN connections into it.
    #
    # Tractor also supports a more involved custom alternative solution
    # in which you provide your own client-side one way password hashing
    # plug-in (javascript or python, as appropriate), and a matching
    # engine-side hash validator that you name here.  See the comments
    # in the template examples, and the Tractor administrative docs for
    # more details.
    #

"SitePasswordValidator": ""

    # "SitePasswordValidator": "internal:PAM:tractor"
    # "SitePasswordValidator": "internal:PAM:su"
    # "SitePasswordValidator": "internal_nocookie:PAM:su"

    # "SitePasswordValidator": "python ${TractorConfigDirectory}/trSiteLoginValidator.py",
    # "SitePasswordValidator": "python ${TractorConfigDirectory}/trSiteLdapLoginValidator.py"

}
